---
import Layout from "../layouts/Layout.astro";
import Inici from "../components/Inici.astro";
import Gegants from "../components/Gegants.astro";
import Contacte from "../components/Contacte.astro";
---

<Layout title="Positivus">
  <main>
    <Inici />
    <Gegants />
    <Contacte />
  </main>
</Layout>
