---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
import teamData from "./Data/team.json";
---

<Container>
  <div class="h-full pt-[120px]" id="contacte">
    <div class="relative flex flex-col items-center md:flex-row text-blue">
      <Topic
        title="Contacte"
        description="Et podem ajudar? Posa't en contacte amb nosaltres!"
      />
    </div>

    <div class="flex-row items-center pt-5 pb-24">
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-4">
        {
          teamData.team.map(({ title, contact, name }, index) => (
            <div class="h-full px-[35px] py-10 bg-white rounded-[45px] shadow-card border border-blue flex-col justify-start items-start gap-2.5 inline-flex text-blue">
              <div class="flex-col justify-start items-start gap-7 flex w-full">
                <div class="self-stretch justify-start items-start inline-flex">
                  <div class="grow shrink basis-0 justify-start items-center gap-8 flex">
                    <div class="h-auto left-0 top-0 relative">
                      <img
                        src="/logo_gegants.webp"
                        alt={name}
                        class="h-20 rounded-lg"
                      />
                    </div>
                    <div class="flex-col justify-end items-start inline-flex">
                      <div class="text-lg font-normal">{title}</div>
                      <div class="text-xl font-medium">{name}</div>
                    </div>
                  </div>
                </div>
                <hr class="w-full border border-blue" />
                <p class="text-sm md:text-lg flex flex-col w-full">
                  <span class="flex gap-4 items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
                    >
                      <path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z" />
                    </svg>
                    gegants@santjust.org
                  </span>
                  <span class="flex gap-4 items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
                    >
                      <path d="M17.707 12.293a.999.999 0 0 0-1.414 0l-1.594 1.594c-.739-.22-2.118-.72-2.992-1.594s-1.374-2.253-1.594-2.992l1.594-1.594a.999.999 0 0 0 0-1.414l-4-4a.999.999 0 0 0-1.414 0L3.581 5.005c-.38.38-.594.902-.586 1.435.023 1.424.4 6.37 4.298 10.268s8.844 4.274 10.269 4.298h.028c.528 0 1.027-.208 1.405-.586l2.712-2.712a.999.999 0 0 0 0-1.414l-4-4.001zm-.127 6.712c-1.248-.021-5.518-.356-8.873-3.712-3.366-3.366-3.692-7.651-3.712-8.874L7 4.414 9.586 7 8.293 8.293a1 1 0 0 0-.272.912c.024.115.611 2.842 2.271 4.502s4.387 2.247 4.502 2.271a.991.991 0 0 0 .912-.271L17 14.414 19.586 17l-2.006 2.005z" />
                    </svg>{" "}
                    {contact}
                  </span>
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Container>
